<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies Africa ML API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
        * {
            box-sizing: border-box;
        }
        /* Create four equal columns that floats next to each other */
        
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        img {
            height: 30%;
            width: 30%;
        }
    </style>

</head>

<body>
    <h2>Welcome {{ a['username'] }}</h2>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <div class="container">
                <br><br><br><br>
                <form action="http://localhost:5000/index" method="POST">
                    <select name="Name" size="30">
            {% for item in lis.itertuples() %}
              <option value="{{ item[2] }}">{{ item[2] }}</option>
          {% endfor %}
         </select>
                    <br><br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="column" style="background-color:#bbb;">
            <p>
                <font size="4" color="blue">History</font>
            </p>
            {% for item in movtd.itertuples() %}
            <li>

                <img src={{ "http://image.tmdb.org/t/p/w185/"+item[2] }} width="282" height="344">
                <div class="post-info">
                    <div class="post-basic-info">
                        <h3>
                            <font size="3"><a href="#">{{ item[1] }}</a></font>
                        </h3>
                        <p>
                            <font size="1">{{ item[3] }}</font>
                        </p>
                    </div>
                    <div class="post-info-rate-share">
                        <div class="rateit">
                            <span> </span>
                        </div>
                        <div class="post-share">
                            <span> </span>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
            </li>

            {% endfor %}
        </div>
    </div>

</body>
<a href="{{ url_for('form') }}">Go back...</a>

</html>